<h2> If you want to add new links then click the button below! </h2>

<form action="/links/add_link" method="post">
  <input type="submit" value="Add new link">
</form>

<ul>
  <% @links.each do |link| %>
      <li id="<%= link.id %>">
      <a href="<%= link.url %>"><%= link.title %></a>
        <form action="/links/<%= link.id %>/delete" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="submit" value="Delete">
        </form>
        <form action="/links/<%= link.id %>/update" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="submit" value="Update">
        </form>
        <form action="/links/<%= link.id %>/add_a_comment" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="text" name="comment" placeholder="Write a thoughtful message here...">
          <input type="submit" value="Comment">
        </form>
        
        </li>
  <% end %>
</ul>
