<h2> If you want to add new links then click the button below! </h2>

<form action="/add_link" method="post">
  <input type="submit" value="Add new link">
</form>

<ul>
  <% @links.each do |link| %>
      <li id="<%= link.id %>">
      <a href="<%= link.url %>"><%= link.title %></a>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="submit" value="Delete">
        </form>
        <form action="/update" method="post">
          <input type="hidden" name="id" value="<%= link.id %>">
          <input type="submit" value="Update">
        </form>
        </li>
  <% end %>
</ul>